{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Ekstrakcja opinii o produkcie</h2>
    {% if error is defined %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><i class="bi bi-exclamation-triangle-fill"></i> Błąd!</strong> {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <form method="POST" action="{{ url_for('extract') }}">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="product_id" class="col-form-label">Kod produktu</label>
            </div>
            <div class="col-auto">
                <input type="text" required id="product_id" name="product_id" placeholder="Wpisz kod produktu" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">Kod produktu musi mieć 8-10 cyfr.</span>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-warning" value="Pobierz">
            </div>
        </div>
    </form>
{% endblock middle %} 