{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Opinie o produkcie</h2>
    <table id='opinions' class="table table-striped table-warning">
        <thead>
            <tr>
                <th>Kol1</th>
                <th>Kol2</th>
            </tr>
        </thead>    
        <tbody>
            <tr>
                <td>Data1</td>
                <td>Data2</td>
            </tr>
            <tr>
                <td>Data3</td>
                <td>Data4</td>
            </tr>
        </tbody>
    </table>
{% endblock middle %} 
{% block scripts %}
    <script>
        $(document).ready( function () {
            $('#opinions').DataTable();
        } );
    </script>
{% endblock scripts %}